tr.paddedrow td {
  padding-top: 5px !important;
}

label.v-label {
  font-size: 10px;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

th[role='columnheader'] {
  vertical-align: top;
}

span.gnomADspan {
  padding-left: 2px;
  height: 25px;
  display: inline-block;
}
i.worldIcon.mdi-earth {
  float: left;
}
i.worldIcon.mdi-earth:last-child {
  display: none;
}

i.tooltipIcon.worldIcon,
i.mdi-contrast-box.tooltipIcon,
span.haplogroupIcon.tooltipIcon {
  color: white;
  border-color: white;
}

span.haplogroupIcon {
  border: solid 2px rgba(0, 0, 0, 0.54);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 21px;
  margin: 1px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 21px;
  height: 21px;
  font-size: 12px;
}

span.haploWeightIcon {
  display: none;
}

div#app.showHaplodata span.haploWeightIcon {
  display: inline;
}
span.haploWeightIcon span i.mdi-contrast-box {
  color: #f44336;
}

span.colorMeRed,
span.colorMeRed + i.mdi-earth::before,
span.colorMeRed + i + span,
span.colorMeRed + i + span span.haplogroupIcon {
  color: orange;
  border-color: orange;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}
