tr.paddedrow td {
  padding-top: 5px !important;
}

label.v-label {
  font-size: 10px;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

th[role='columnheader'] {
  vertical-align: top;
}

span.gnomADspan {
  padding-left: 2px;
  height: 25px;
  display: inline-block;
}
i.worldIcon.mdi-earth {
  float: left;
}
i.worldIcon.mdi-earth:last-child {
  display: none;
}

i.tooltipIcon.worldIcon,
i.mdi-contrast-box.tooltipIcon,
span.haplogroupIcon.tooltipIcon {
  color: white;
  border-color: white;
}

span.haplogroupIcon {
  border: solid 2px rgba(0, 0, 0, 0.54);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 21px;
  margin: 1px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 21px;
  height: 21px;
  font-size: 12px;
}


td:nth-child(8),
td:nth-child(10),
td:nth-child(12),
th:nth-child(8),
th:nth-child(10),
th:nth-child(12) {
  display: none;
}

div#app.showWeight th:nth-child(8),
div#app.showWeight td:nth-child(8) {
  display: table-cell;
}

/* div#app.showHaplodata td:nth-child(8),
div#app.showHaplodata th:nth-child(8), */
div#app.showHaplodata td:nth-child(10),
div#app.showHaplodata td:nth-child(12),
div#app.showHaplodata th:nth-child(10),
div#app.showHaplodata th:nth-child(12) {
  display: table-cell;
}


div#app.bundle td:nth-child(9),
div#app.bundle td:nth-child(10),
div#app.bundle td:nth-child(11),
div#app.bundle td:nth-child(12),
div#app.bundle th:nth-child(9),
div#app.bundle th:nth-child(10),
div#app.bundle th:nth-child(11),
div#app.bundle th:nth-child(12) {
  display: none;
}

td:nth-child(13),
td:nth-child(14),
th:nth-child(13),
th:nth-child(14) {
  display: none;
}

div#app.bundle td:nth-child(13),
div#app.bundle td:nth-child(14),
div#app.bundle th:nth-child(13),
div#app.bundle th:nth-child(14) {
  display: table-cell;
}

td,th {
  border-left: solid 1px lightgrey;
}

tr:nth-child(even) {
  background-color: rgba(0,0,0,0.02);
}
