tr.paddedrow td {
  padding-top: 5px !important;
}

label.v-label {
  font-size: 10px;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

th[role='columnheader'] {
  vertical-align: top;
}

span.gnomADspan {
  padding-left: 2px;
  height: 25px;
  display: inline-block;
}
i.worldIcon.mdi-earth {
  float: left;
}
i.worldIcon.mdi-earth:last-child {
  display: none;
}

i.tooltipIcon.worldIcon,
i.mdi-contrast-box.tooltipIcon,
span.haplogroupIcon.tooltipIcon {
  color: white;
  border-color: white;
}

span.haplogroupIcon {
  border: solid 2px rgba(0, 0, 0, 0.54);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 21px;
  margin: 1px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 21px;
  height: 21px;
  font-size: 12px;
}

span.haploWeightIcon {
  display: none;
}

div#app.showHaplodata span.haploWeightIcon {
  display: inline;
}
span.haploWeightIcon span i.mdi-contrast-box {
  color: orange;
}

span.highlightMe + i.mdi-earth::before,
span.highlightMe i.mdi-contrast-box::before {
  color: orange;
}

span.highlightMe,
span.highlightMe + i + span,
span.highlightMe + i + span span.haplogroupIcon {
  color: orange;
  border-color: orange;
  font-weight: 600;
}
span.extraInfo {
  display: none;
}
span.highlightMe span.extraInfo {
  display: inline;
}

tr:nth-child(even):not(.v-data-table__expanded__content) {
  background-color: rgba(0, 0, 0, 0.05);
}

#variantTable > div > table > tbody > tr:hover.paddedrow {
  background: none;
}

#variantTable
  > div
  > table
  > tbody
  > tr:hover:not(.paddedrow, .v-data-table__expanded)
  > td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.posSlider {
  margin-top: -8px;
}
.v-card__title {
  display: none;
}

div.filteredItemCount span {
  color: lightblue;
  text-decoration: 2px underline lightblue;
}
span.filterActive {
  text-decoration: 4px underline lightblue;
}

.v-data-table div.v-data-table__wrapper table thead tr th {
  text-align: center !important;
}
.v-data-table div.v-data-table__wrapper table tbody tr td,
.v-data-table div.v-data-table__wrapper table thead tr th {
  vertical-align: top;
  padding: 2px 4px;
  height: 1em;
  border-right: solid 1px rgb(240, 240, 240);
}

#variantTable tr {
  cursor: pointer;
}
#variantTable tr.paddedrow,
#variantTable tr.v-data-table__expanded.v-data-table__expanded__content {
  cursor: inherit;
}
.v-card__title {
  display: flex !important;
}

#variantTable tr.v-data-table__expanded.v-data-table__expanded__row td {
  border-top: solid 1px black;
}
#variantTable
  tr.v-data-table__expanded.v-data-table__expanded__content
  > td:first-child,
#variantTable
  tr.v-data-table__expanded.v-data-table__expanded__row
  td:first-child {
  border-left: solid 1px black;
}
#variantTable
  tr.v-data-table__expanded.v-data-table__expanded__content
  > td:last-child,
#variantTable
  tr.v-data-table__expanded.v-data-table__expanded__row
  td:last-child {
  border-right: solid 1px black;
}
#variantTable tr.v-data-table__expanded.v-data-table__expanded__content > td {
  border-bottom: solid 1px black;
}
