[submodule "gngs"]
	path = gngs
	url = https://github.com/ssadedin/groovy-ngs-utils.git
[submodule "mitoreport.wiki"]
	path = mitoreport.wiki
	url = ../mitoreport.wiki.git
[submodule "haplogrep-cmd"]
	path = haplogrep-cmd
	url = https://github.com/seppinho/haplogrep-cmd.git
