.DS_Store
node_modules
ui/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/eclipse-build/
*.iml
.classpath
.project
.settings

# Build
build
out
mitoreport-*
tmp
logs
.gradle
src/main/resources/mitoreport/*
!src/main/resources/mitoreport/README.md
ui/public/deletions.js
ui/public/variants.js
ui/public/defaultSettings.js
ui/public/mitoSettings.js
ui/coverage
mito_map_polymorphisms.html
